:root{
    --color-principal-bt:#bd93f9;   
    --color-secundario-bt:#282a36;   
    --color-titulos:#f7f6fb;
    }


.Li{
    display: none;
}

header{
    /* border: solid; */
    padding-top: 10px;
}

.logo{
    cursor: pointer;
   height: 100px;
   width: 100px;
}

h2{
    cursor: pointer;
    color: var(--color-titulos);
    font-weight: lighter;
    font-size: 25px;
}

.letraE{
    color: var(--color-principal-bt);
    font-size: 40px;
    font-weight: lighter;
}

.menu a{
    color: var(--color-titulos);
    font-size: 20px;
    transition: 1s;
}

.menu a:hover{
    color: var(--color-principal-bt);
}